body {
    font-family:sans-serif;
}

a {
    color: rgb(0, 110, 255)
}

a:hover {
    color: rgb(38, 0, 255);
}

header {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid rgb(0, 255, 136)
}

header h1 {
    font-size: 2em;
}

header nav ul li {
    display: inline;
}

.clear {
    clear: both;
}

#projects {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

.project {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 255, 136)
}

.project img {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.project h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}